.idea
*.iml
*.lnk
**.log
**/.vscode
**/dist
**/node_modules
out
python/config.json
python/configs/reminder-webhook.json
python/data/allCountries.txt
python/data/local
.DS_Store
r/.Rhistory
python/data/twi
__pycache__
python/configs/scraper-config.json
bash/mac/backup/clouds.txt
bash/mac/wallpaper-location.txt
bash/mac/backup/ff-settings.txt
bash/mac/backup/mac.txt
bash/mac/backup/repos-dest.txt
bash/mac/backup/repos.txt
bash/mac/backup/vscode-dest.txt
