.idea
*.iml
*.lnk
**.log
**/.vscode
**/dist
**/node_modules
out
.DS_Store
__pycache__

python/config.json
python/configs/reminder-webhook.json
python/data/allCountries.txt
python/data/local
python/data/twi
python/configs/scraper-config.json

r/.Rhistory

bash/mac/wallpaper-location.txt
bash/mac/backup/configs/*
bash/mac/temp
